body {
	background-color: #4A3383;
}

#editor {
  height: 100vh;
}
button {
			color: #4A3383;
			background-color: #E5B466;
			font-size: 19px;
			border: 4px solid #ffffff;
			padding: 15px 30px;
			letter-spacing: 1px;
			cursor: pointer
		}
		button:hover {
			color: #E5B466;
			background-color: #ffffff;
		}


.section {
  height: 250px;
  width: 100%;
}
